body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.app-container {
  width: 100vw;
  max-width: 30rem;
  height: 100vh;
  max-height: 50rem;
  margin: calc(50vh - 25rem) auto;
  background-color: #EAE9E5;
  color: #000;
}

.blob {
  position: absolute;
;
}

.logo {
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
