@use 'abstracts';
@use 'abstracts/variables' as v;
@use 'base';
@use 'components';
@use 'layouts';

@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.large_title {
    font-family: v.$primary-font;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 2rem;
    text-align: center;
    margin: 2rem 0;
    color: v.$primary-100;
}

.title {
    font-family: v.$primary-font;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: start;
    color: v.$primary-100;
} 

.subtitle {
    font-family: v.$secondary-font;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    text-align: start;
    color: v.$secondary-100;
}

.app_container {
    width: 100vw;
    margin: 0 auto;
    background-color: v.$bg-50;
    color: v.$black;
}

.blob {
    position: absolute;
}

.logo {
    position: absolute;
}

.content_container {
    text-align: center;
    padding: 7rem 2rem 8rem 2rem;
}

.spaced {
    padding: 12rem 2rem 15rem 2rem;
}

.btn_group {
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin: .5rem 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: v.$secondary-font;
    font-size: .9rem;
    font-weight: 700;
}

.link {
    font-family: v.$secondary-font;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.btn_primary {
    background-color: v.$accent-100;
    color: v.$white;
}

.btn_secondary {
    background-color: v.$bg-75;
    color: v.$grey-100
}


.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    font-family: v.$secondary-font;

    .form_row {
        flex-direction: row;
    }

    .input_field {
        padding: 1rem 2rem;
        margin: 0.5rem 0;
        background-color: v.$bg-75;
        border: none;
        border-radius: 0.5rem;
        width: 100%;
    }
} 

.grey_text {
    font-family: v.$secondary-font;
    color: v.$grey-100;
    font-weight: 600;
    font-size: .9rem;
    margin: 1rem 0;
}

.search_bar {
    position: relative;
    font-family: v.$secondary-font;
    font-size: .9rem;
    font-weight: 600;
    color: v.$grey-100;
    width: 85%;

    .search_input {
        padding: 1rem;
        margin: .5rem 0 1rem 0;
        background-color: v.$bg-25;
        border: none;
        border-radius: 0.5rem;
        width: 100%;
    }

    .search_button {
        position: absolute;
        right: 1.4rem;
        top: 1.4rem;
        cursor: pointer;
    }
}

.search_field {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.filter_item {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    padding: .5rem;
    border-radius: 50%;

    margin: 0.5rem 0;
    cursor: pointer;
    background-color: v.$accent-100;

    .filter_icon {
        margin-right: 0.5rem;
    }
}

.settings_card {
    background-color: v.$bg-25;
    border-radius: .5rem;
    padding: 0 1.5rem;
    box-shadow: .2rem .2rem .5rem v.$grey-50;
    position: relative;
    margin: 1rem 0;
}

.profile_settings_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: .125rem solid v.$bg-75;

    &:last-child {
        border-bottom: none;
    }
}