@use 'abstracts';
@use 'abstracts/variables' as v;
@use 'base';
@use 'components';
@use 'layouts';

@import "leaflet/dist/leaflet.css";

.app_container {
    width: 100vw;
    margin: 0 auto;
    background-color: v.$bg-50;
    color: v.$black;
}

.blob {
    position: absolute;
    width: 100vw;
}

.logo {
    position: absolute;
    top: 6rem;
    left: 35%;
}


.logo_left {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
}

.container {
    text-align: center;
    min-height: 100vh;
    padding: 12rem 2rem 2rem 2rem;
}

.content_container {
    text-align: center;
    min-height: 100vh;
    padding: 7rem 2rem 6rem 2rem;
}

.detail_container {
    text-align: center;
    min-height: 100vh;
    padding: 1.5rem 1.5rem 6rem 1.5rem;
}

.flex_col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.input[type=checkbox] {
    margin-right: .5rem;
}

.line {
    width: 100%;
    height: 2px;
    border: 1px solid v.$bg-75;
    margin-top: 2rem;
}