@use 'abstracts';
@use 'abstracts/variables' as v;
@use 'base';
@use 'components';
@use 'layouts';

@import "leaflet/dist/leaflet.css";

.app_container {
    width: 100vw;
    margin: 0 auto;
    background-color: v.$bg-50;
    color: v.$black;
}

.blob {
    position: absolute;
}

.logo {
    position: absolute;
}

.container {
    text-align: center;
    min-height: 100vh;
    padding: 12rem 2rem 2rem 2rem;
}

.content_container {
    text-align: center;
    min-height: 100vh;
    padding: 7rem 2rem 8rem 2rem;
}
