@use '../abstracts/variables' as v;

.btn {
    padding: .5rem 1rem;
    font-weight: 600;
    border-radius: .5rem;
}

.btn-primary {
    color: white;
    background-color: v.$primary-100;
}

.btn-secondary {
    color: white;
    background-color: v.$secondary-100;
}

.btn-accent {
    color: white;
    background-color: v.$accent-100;
}