@use 'abstracts/variables' as v;

.carousel {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    overflow-x: auto;
    overflow-y: hidden;

    .carousel_link {
        width: 6rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .carousel_name {
        font-family: v.$secondary-font;
        font-size: 1rem;
        font-weight: 600;
        padding: .5rem;
        color: v.$secondary-100;
        line-height: 110%;
    }

    .img {
        object-fit: cover;
        border-radius: 50%;
        background-color: v.$primary-100;
        width: 5rem;
        height: 5rem;
    }
}