@use '../abstracts/variables' as v;

.filter {
    font-family: v.$secondary-font;
    text-align: start;
}

.label {
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    font-family: v.$secondary-font;

    .form_row {
        flex-direction: row;
    }

    .input_field {
        padding: 1rem 1.5rem;
        margin: 0.25rem 0 1.5rem 0;
        background-color: v.$bg-75;
        border: none;
        border-radius: 0.5rem;
        width: 100%;
        color: v.$grey-100;
    }
}